@media (min-width:320px)  {
    /* smartphone width */
}

.responsive {
    /* width: 100%; */
    max-width: 100px;
    height: auto;
}

body {
    padding-top: 12%;
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0e0e0e;
    background-color: #fafafa;
}

header {
    font-family: 'Merriweather', serif;
    align-items:center;
    justify-content:space-between;
    /* font-family: 'Roboto Mono', monospace; */
}

.bio {
    margin-bottom: -1em;
    /* margin-top: -1em; */
}

.bio-section {
    margin-bottom: 1.5em;
}

.social-links {
    color: #0e0e0e;
    text-decoration: none;
    font-size: x-large;
}


a.github:hover {
    /* color: #6e5494; */
    color: #6cc644;
}

a.twitter:hover {
    color: #1da1f2;
}

a.instagram:hover {
    color: #E1306C;
}

a.linkedin:hover {
    color: #0077B5;
}