body {
    padding-top: 12%;
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0e0e0e;
    background-color: #fafafa;
}

header {
    font-family: 'Merriweather', serif;
    align-items:center;
    justify-content:space-between;
    /* font-family: 'Roboto Mono', monospace; */
}

.bio-section {
    margin-bottom: 1.5em;
}

.social-links {
    /* flex: 1; */
    color: #0e0e0e;
    text-decoration: none;
    font-size: x-large;
}

/* .social {
    display: flex;
    flex-direction: row
} */


a.github:hover {
    /* color: #6e5494; */
    color: #6cc644;
}

a.twitter:hover {
    color: #1da1f2;
}

a.instagram:hover {
    color: #E1306C;
}

a.linkedin:hover {
    color: #0077B5;
}

.column-1 {
    display: inline
}

.column-2 {
    display: inline
}

@media screen and (max-width:500px)  {
    /* smartphone width */
    .social {
        display: flex;
        flex-direction: column;
    }
    .social-links {
        flex: 1;
        font-size: 60px;
    }

    /* .github {
        order: 1
    }

    .twitter {

    }

    .instagram {

    }

    .linkedin {

    } */
}